.header
  = render "themes/header"
  
.main
  .main__background
    .main__background__formats
      .main__background__formats__title
        = @theme.title
      %p タイトル名の変更

      .edit_form
        = form_for @theme do |f|
          .edit_form__field
            = f.text_field :title, class: 'text', placeholder: ' Enter theme'
          = f.submit 'Change', class: 'edit_button'