.header
  = render "themes/header"

.main
  .main__background
    .main__background__char
      テーマ一覧
    - @themes.each do |theme|
      - if user_signed_in? && current_user.id == theme.user_id
        - if theme.summary
          .main__background__theme__summary_exist
            .main__background__theme__left_content
              = link_to edit_theme_path(theme.id), class: "main__background__theme__left_content--title" do
                = theme.title
              .main__background__theme__left_content--count
                なぜなぜカウント：
                = theme.posts.length
            .main__background__theme__right_content
              %p.date
                = theme.created_at.to_s(:datetime)
              .main__background__theme__right_content__summary_exist_icons
                = link_to theme_path(theme.id), class: "main__background__theme__right_content__icons--icon" do
                  %i.fas.fa-edit
                = link_to theme_path(theme.id), class: "main__background__theme__right_content__icons--icon", method: :delete do
                  %i.fas.fa-trash 
              .main__background__theme__right_content__summary
                まとめ作成済み
        - else
          .main__background__theme
            .main__background__theme__left_content
              = link_to edit_theme_path(theme.id), class: "main__background__theme__left_content--title" do
                = theme.title
              .main__background__theme__left_content--count
                なぜなぜカウント：
                = theme.posts.length
            .main__background__theme__right_content
              %p.date
                = theme.created_at.to_s(:datetime)
              .main__background__theme__right_content__icons
                = link_to theme_path(theme.id), class: "main__background__theme__right_content__icons--icon" do
                  %i.fas.fa-edit
                = link_to theme_path(theme.id), class: "main__background__theme__right_content__icons--icon", method: :delete do
                  %i.fas.fa-trash 


.footer
  .form
    = form_for @theme do |f|
      .form__theme
        = f.text_field :title, class: 'text', placeholder: ' Enter theme'
        = f.submit 'Go', class: 'button'



