.header
  = render "themes/header"
  
.main
  .main__background
    .main__background__upper
      .main__background__upper__char
        = @theme.title
      
    - @posts.each do |post|
      - if post.important
        .main__background__post_important{ id: "main__background__post_important#{post.id}" }
          .main__background__post__left_content
            %p.title
              = post.text
          .main__background__post__right_content{ id: "main__background__post__right_content#{post.id}" }
            = render partial: 'importants/important', locals: { post: post}
            
      - else
        .main__background__post{ id: "main__background__post#{post.id}" }
          .main__background__post__left_content
            %p.title
              = post.text
          .main__background__post__right_content{ id: "main__background__post__right_content#{post.id}" }
            = render partial: 'importants/important', locals: { post: post}
            

.footer 
  .form
    = form_for [@theme, @post] do |f|
      .form__theme
        = f.text_field :text, class: 'text', placeholder: 'Post idea'
        = f.submit 'Go', class: 'button'
        .form__theme__summary
          = link_to theme_summary_path(@theme.id), class: "form__theme__summary--link" do
            Summery