.header
  = render "themes/header"
  .header__menu
    - if user_signed_in?
      .header__menu__btn
        = current_user.nickname
      .header__menu__btn
        = link_to destroy_user_session_path, class: "header__menu__btn--link", method: :delete do
          ログアウト
    - else
      .header__menu__btn
        = link_to new_user_session_path, class: "header__menu__btn--link" do
          ログイン
      .header__menu__btn
        = link_to new_user_registration_path, class: "header__menu__btn--link" do
          新規登録

.main
  .main__background
    .main__background__upper
      .main__background__upper__char
        = @theme.title
    - @posts.each do |post|
      .main__background__post
        .main__background__post__left_content
          %p.title
            = post.text
        .main__background__post__right_content
          %p.date
            = post.created_at.to_s(:datetime)
          = link_to theme_post_path(post.id), class: "main__background__post__right_content__icon", method: :delete do
            %i.fas.fa-trash
          

    
  .form
    = form_for [@theme, @post] do |f|
      .form__theme
        = f.text_field :text, class: 'text', placeholder: ' Post idea'
        = f.submit 'Go', class: 'button'
        .form__theme__summary
          = link_to theme_summary_path(@theme.id), class: "form__theme__summary--link" do
            Summery