.header
  = render "themes/header"
  .header__menu
    - if user_signed_in?
      .header__menu__btn
        = current_user.nickname
      .header__menu__btn
        = link_to destroy_user_session_path, class: "header__menu__btn--link", method: :delete do
          ログアウト
    - else
      .header__menu__btn
        = link_to new_user_session_path, class: "header__menu__btn--link" do
          ログイン
      .header__menu__btn
        = link_to new_user_registration_path, class: "header__menu__btn--link" do
          新規登録

.main
  .main__background
    .main__background__char
      = @theme.title
    - @posts.each do |post|
      = render partial: 'posts/post', locals: { post: post }

  .form
    = form_for [@theme, @post] do |f|
      .form__theme
        = f.text_field :text, class: 'text', placeholder: ' Post idea'
        = f.submit 'Go', class: 'button'