- if post.important
  = link_to post_important_destroy_path(post.id), id: "important_btn#{post.id}",class: "main__background__post__right_content__icon", method: :delete, remote: true do
    %i.fas.fa-star
- else
  = link_to post_important_path(post.id), id: "important_btn#{post.id}",class: "main__background__post__right_content__icon", remote: true do
    %i.far.fa-star

-# #{post.id}