.header
  = render "themes/header"

.main_fixed
  .main_fixed__background
    .main_fixed__background__box
      %h2 Forgot your password?
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          = f.label :email
        .field-input
          = f.email_field :email, class: 'text', autofocus: true, autocomplete: "email"
        .actions
          = f.submit "Send me reset password instructions", class: "btn"
      = render "devise/shared/links"
