.header
  = render "themes/header"
  
.main_fixed
  .main_fixed__background
    .main_fixed__background__box
      %h2 Log in
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          = f.label :email
        .field-input
          = f.email_field :email, class: 'text', autofocus: true, autocomplete: "email"
        .field
          = f.label :password
        .field-input
          = f.password_field :password, class: 'text', autocomplete: "current-password"
        - if devise_mapping.rememberable?
          .field_checkbox
            = f.check_box :remember_me
            = f.label :remember_me
        .actions
          = f.submit "Log in", class: "btn"
      = render "devise/shared/links"
